html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .button {
    background-color: rgb(63, 62, 62); /* Green */
    border: none;
    color: white;
    padding: 7px 7px;
    width: 80px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #d35f00;
    color: white;
  }

  .input {
    width: 80px;
    border-radius: 0px;
  }